<div class="row">
  <div class="col-lg-8">

<div class="row">
  <div class="col-lg-3">
    <%= render "tile_chart_one" %>
  </div>
  <div class="col-lg-3">
    <%= render "tile_chart_one" %>
  </div>
  <div class="col-lg-3">
    <%= render "tile_chart_one" %>
  </div>
  <div class="col-lg-3">
    <%= render "tile_chart_one" %>
  </div>
</div>
    <%= render "fake_account_info" %>
<%= render "fake_account_total" %>
  </div>
  <div class="col-lg-4">

<%= render "fake_messages" %>



<%= render "fake_load_id" %>
<%= render "fake_form" %>
<%= render "fake_form" %>


  </div>
</div>



                          
